@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Roboto', sans-serif;
}

.body {

  height: 180vh;

}

.whole {
  width: 100%;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(30, 149, 30, 0.991) 0%, rgba(0, 185, 224, 1) 35%, rgba(62, 176, 207, 1) 98%, rgba(0, 212, 255, 1) 100%);
  position: absolute;
}

.container1 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  position: fixed;
  right: 0;

}

.container1 nav ul {
  width: 20vw;
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: space-around;
  text-transform: none;
  list-style: none;


}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 22px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.between {
  margin-top: 20px;
  display: flex;
  padding: 10px 10%;
  width: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  font-weight: 700;
}

.between p {

  margin-right: 20px;
}


.logo {
  position: absolute;
  top: -5px;
  left: 20px;

}

nav ul li .myButton login {
  border: 2px solid rgb(43, 249, 6);
  background-color: transparent !important;

}



.btnMob {
  -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fa6a5a), color-stop(1, #ce0100));
  background: -moz-linear-gradient(top, #fa6a5a 5%, #ce0100 100%);
  background: -webkit-linear-gradient(top, #fa6a5a 5%, #ce0100 100%);
  background: -o-linear-gradient(top, #fa6a5a 5%, #ce0100 100%);
  background: -ms-linear-gradient(top, #fa6a5a 5%, #ce0100 100%);
  background: linear-gradient(to bottom, #fa6a5a 5%, #ce0100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa6a5a', endColorstr='#ce0100', GradientType=0);
  background-color: #fa6a5a;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 46px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  margin-top: 30px;
}

.btnMob:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fa6a5a));
  background: -moz-linear-gradient(top, #ce0100 5%, #fa6a5a 100%);
  background: -webkit-linear-gradient(top, #ce0100 5%, #fa6a5a 100%);
  background: -o-linear-gradient(top, #ce0100 5%, #fa6a5a 100%);
  background: -ms-linear-gradient(top, #ce0100 5%, #fa6a5a 100%);
  background: linear-gradient(to bottom, #ce0100 5%, #fa6a5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fa6a5a', GradientType=0);
  background-color: #ce0100;
}

.btnMob:active {
  position: absolute;
  top: 1px;
}













@media (max-width:1000px) {


  .between {

    display: none;
  }

  .myButton {
    display: none;



  }

  .logo {
    width: 200px;
    margin-left: 35%;
    margin-right: 50%;

  }

  .menuBurger {

    display: flex !important;

  }

  .btnMob {
    display: inline-block;

  }

}

@media (max-width:500px) {


  .logo {

    display: none;
  }

}

.mainContent h1 {


  margin-top: 6%;
  margin-left: 60px;
  line-height: 60px;


}

.mainContent p {

  margin-top: 1%;
  margin-left: 60px;
  line-height: 40px;

}

.mainContent .maingImg {
  position: absolute;
  top: 200px;
  right: 20%;
}

.bar {

  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 50px;

}

.bar img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
}

.select {

  width: 300px;
  left: 60px;
  border-radius: 15px;
}


@media(max-width:850px) {

  .maingImg {
    width: 100px;

  }

}


@media(max-width:550PX) {

  .maingImg {
    display: none;
  }

  .bar img {
    margin-right: 0;
    width: 50px !important;
  }

  .mainContent {

    margin-top: 150px;
  }

}

@media(max-width:400PX) {
  .mainContent h1 {
    height: 200px;

    font-size: 1.6em;

    line-height: 40px !important;

  }
}

@media(max-width:400PX) {
  .mainContent p {
    height: 200px;

    font-size: .8em;

    line-height: 30px !important;

  }


  .select {
    top: 100px;
    width: 200px;
  }

}




@media(max-width:250px) {
  .mainContent p {
    display: none
  }

  .select {
    width: 100px;

  }
}

.footer {

  position: absolute;
  background-color: #155750;
  height: 200px;
  bottom: -150px;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer p {
  font-size: 2em;
  margin-right: 100px;
}

.newSection {
  position: relative;
  background-color: #4e0f0f;
  width: 99vw;
  height: 100vh;
  top:39%;


}

.anotherSection{

width: 80%;
height: 100vh;
margin-top: 80px !important;
margin-left: 10%;
display:flex;
justify-content: center;
gap:20px;
align-items: center;
flex-wrap: wrap;
overflow: auto;
top: 50px !important;

}

.box{

width: 400px;
  border:1px solid white;
  border-left: 4px solid white;
  height: 150px;
  border-radius: 5px;
  padding:5px 10px;
  position: relative;
}

.box h2{

  text-align: center;
  margin-bottom: 20px;
}
.box a{

float:right;
text-decoration: underline;
font-weight: 700;

}

.box:hover{

  border:2px solid white;
  border-left: 8px solid white;
  transition: all 0.1s;


}

.box:hover h2{

font-weight: 700;
color:#f29c93

}

.last{

width: 500px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;



}

.remove {
	position:absolute;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:33px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
  bottom:-10px;
  right:0;
}
.remove:hover {
	background-color:#ee1d0e;
}
.remove:active {

  transition: all 1s;
}